.calendar {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  font-family: var(--slant-font-ibm);
  user-select: none;

  section {
    display: flex;
    gap: 1ch;
    pointer-events: none;
    user-select: none;

    span,
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      text-align: center;
      position: relative;
    }

    /* &:nth-child(1) {
      .day::before {
        content: attr(data-day);
        position: absolute;
        top: -1lh;
      }
    } */
  }

  * {
    transition: all 460ms;
  }

  /* &:not(:hover) {
    .weeks,
    .month {
      opacity: 0.1;
    }

    [data-day="·"] {
      opacity: 1;
    }
  } */

  /* [data-day="S"] {
    pointer-events: none;
    opacity: 0.6;
  } */

  &:not(:hover) small {
    opacity: 0;
    translate: 0 2px;
  }

  small {
    display: flex;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    margin-inline: auto;
    flex-direction: row;
    max-width: max-content;
    /* border-top: 1px solid var(--slant-color-neutral-700-40); */
    /* padding-top: 2lh; */
    /* margin-top: 2lh; */
    gap: 4ch;
    line-height: 1;
    transition: all 260ms;

    @starting-style {
      opacity: 0.6;
      translate: 0 2px;
    }

    span {
      display: flex;
      align-items: center;
      gap: 1ch;
      color: var(--slant-color-neutral-600);
    }

    kbd {
      display: flex;
      padding: 0.4lh 1ch;
      border-radius: var(--slant-border-radius-04);
      background-color: var(--slant-color-neutral-700-40);
      color: var(--slant-color-neutral-100);
    }
  }
}
