.calendar {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  font-family: var(--slant-font-ibm);

  section {
    display: flex;
    gap: 1ch;
    pointer-events: none;
    user-select: none;

    span,
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      text-align: center;
    }
  }

  .weeks {
    opacity: 0.2;
  }

  .month,
  [data-day="·"] {
    opacity: 0.4;
  }
}
