header.main-header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 2;
  inset: 0 0 auto 0;
  padding-inline: var(--slant-size-28);
  padding-block: var(--slant-size-28);
  width: 100%;
  pointer-events: none;

  .sides {
    pointer-events: initial;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 6ch;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 2ch;
    font-size: 10px;

    .extension {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1ch;
      padding: 1lh 2ch;

      .icon {
        fill: none;
        stroke: none;
        height: 1.2lh;
      }
    }
  }
}
