.layout {
  &.about {
    display: flex;
    flex-direction: column;
    gap: calc(var(--lona-size-52) * 2);
    padding: calc(var(--lona-size-52) * 2);

    header.header-about {
      display: flex;
      gap: calc(var(--lona-size-52) * 2);
      padding: calc(var(--lona-size-52) * 2);
    }

    footer {
      display: flex;
      align-items: center;
      gap: 2ch;
      font-size: var(--lona-font-size-body-s);

      time {
        margin-left: 2ch;
      }
    }

    h2 {
      font-size: var(--lona-font-size-h4);
      border-bottom: 1px solid var(--lona-color-neutral-700-40);
      padding-bottom: var(--lona-size-20);
      margin-bottom: var(--lona-size-20);
      color: var(--lona-color-neutral-500);
      letter-spacing: normal;
    }

    .story {
      p {
        font-size: var(--lona-font-size-h1);
        line-height: 1.2;
        text-wrap: balance;
        max-width: 90%;

        svg {
          height: var(--lona-font-size-h1);
          stroke-width: 1;
          display: inline-block;
          vertical-align: middle;
          margin-right: 1ch;
        }
      }
    }

    .skills {
      display: flex;
      gap: calc(var(--lona-size-52) * 2);

      .group {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: var(--lona-size-20);

        &.tools {
          flex: 1;

          ul {
            display: flex;
            align-items: center;
          }
          img {
            border-radius: 12px;
          }
        }

        h3 {
          font-size: var(--lona-font-size-body-l);
        }

        .items {
          display: flex;
          gap: var(--lona-size-52);

          .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2lh;

            ul {
              display: flex;
              gap: 1ch;
              font-size: var(--lona-font-size-body-xl);
              flex-wrap: wrap;

              li {
                display: flex;
                border-radius: 200px;
                padding: 1.4ch 1.4lh;
                border: 1px solid var(--lona-color-neutral-700-40);
                align-items: center;
              }
            }
          }
        }
      }
    }

    .award-list {
      display: flex;
      gap: var(--lona-size-28);
      margin-top: var(--lona-size-48);

      .award-single {
        flex: 1;
        padding: var(--lona-size-36);
        border-radius: var(--lona-border-radius-20);
        border: 1px solid var(--lona-color-neutral-700-20);
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--lona-size-24);
        font-size: var(--lona-font-size-body-l);
        line-height: 1.4;

        figure.award-figure {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--lona-size-16);
          border: 2px solid var(--lona-color-neutral-700-20);
          inline-size: var(--lona-size-64);
          block-size: var(--lona-size-64);
          background: linear-gradient(
            136deg,
            var(--lona-color-neutral-700-20) 0%,
            var(--lona-color-neutral-800) 95%
          );

          svg {
            height: var(--lona-size-16);
          }
        }

        .award-content {
          display: flex;
          flex-direction: column;
          gap: var(--lona-size-10);
          margin-bottom: var(--lona-size-24);
        }

        small {
          text-transform: uppercase;
          letter-spacing: 6%;
          color: var(--lona-color-neutral-500);
          line-height: 1;
        }

        h3 {
          font-size: var(--lona-font-size-body-m);
          line-height: 1;
          color: var(--lona-color-neutral-200);
        }

        p {
          color: var(--lona-color-neutral-500);
          max-width: 64ch;
          text-wrap: balance;
          margin-top: var(--lona-size-24);
        }
      }

      .award {
        min-height: auto;
        padding: 0;
        margin-top: auto;
      }
    }
  }
}

/* Keyframes */
.story {
  display: flex;
  flex-direction: column;
  gap: var(--lona-size-52);
  color: var(--lona-color-neutral-100);
  p {
    animation-name: scale;
    animation-timeline: view();
    animation-range: -5vh 60vh;
    filter: blur(0px);

    mark {
      background: linear-gradient(
        to right,
        var(--lona-color-accent-600),
        var(--lona-color-neutral-100)
      );
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      animation-name: gradient;
      animation-timeline: view();
      animation-range: 10vh 40vh;
      filter: blur(0px);
    }
  }
}

.layout.about section {
  animation-name: section;
  animation-timeline: view();
  animation-range: -4vh 20vh;
  animation-duration: 824ms;
}

@keyframes scale {
  0% {
    opacity: 0;
    translate: 0 1lh;
  }
}

@keyframes gradient {
  0% {
    filter: blur(40px);
  }
}

@keyframes section {
  0% {
    translate: 0 12lh;
    filter: blur(40px);
    opacity: 0;
  }
}
