/* prettier-ignore */
:root {
  /* Sizes */
  --lona-size-00: 0.0rem;
  --lona-size-01: 0.1rem;
  --lona-size-02: 0.2rem;
  --lona-size-04: 0.4rem;
  --lona-size-06: 0.6rem;
  --lona-size-08: 0.8rem;
  --lona-size-10: 1.0rem;
  --lona-size-12: 1.2rem;
  --lona-size-14: 1.4rem;
  --lona-size-16: 1.6rem;
  --lona-size-18: 1.8rem;
  --lona-size-20: 2.0rem;
  --lona-size-24: 2.4rem;
  --lona-size-28: 2.8rem;
  --lona-size-32: 3.2rem;
  --lona-size-36: 3.6rem;
  --lona-size-40: 4.0rem;
  --lona-size-44: 4.4rem;
  --lona-size-48: 4.8rem;
  --lona-size-52: 5.2rem;
  --lona-size-56: 5.6rem;
  --lona-size-60: 6.0rem;
  --lona-size-64: 6.4rem;
  --lona-size-90: 9.0rem;
  --lona-size-99: calc(infinity * 1px);

  /* Color - Neutral */
  --lona-color-neutral-100: #ffffff;
  --lona-color-neutral-200: #F5F5F4;
  --lona-color-neutral-300: #E7E7E4;
  --lona-color-neutral-400: #DFDED8;
  --lona-color-neutral-500: #9F9D93;
  --lona-color-neutral-600: #878578;
  --lona-color-neutral-700: #515048;
  --lona-color-neutral-700-10: rgba(81, 80, 72, 0.1);
  --lona-color-neutral-700-20: rgba(81, 80, 72, 0.2);
  --lona-color-neutral-700-40: rgba(81, 80, 72, 0.4);
  --lona-color-neutral-800: #1a1a1a;
  /* --lona-color-neutral-800: #1b1b18; */
  --lona-color-neutral-800-40: rgba(26, 26, 26, 0.4);
  --lona-color-neutral-800-80: rgba(26, 26, 26, 0.8);
  --lona-color-neutral-800-90: rgba(26, 26, 26, 0.9);

  /* Color - Accent */
  --lona-color-accent-100: #fcf9e9;
  --lona-color-accent-200: #fdf7d6;
  --lona-color-accent-300: #fdf1b0;
  --lona-color-accent-400: #fde562;
  --lona-color-accent-500: #fee34f;
  --lona-color-accent-600: #fddf3b;
  --lona-color-accent-600-20: rgba(253, 224, 59, 0.2);
  --lona-color-accent-600-30: rgba(253, 224, 59, 0.3);
  --lona-color-accent-600-40: rgba(253, 224, 59, 0.4);
  --lona-color-accent-600-50: rgba(253, 224, 59, 0.5);
  --lona-color-accent-600-80: rgba(253, 224, 59, 0.8);

  /* Color - Secondary */
  --lona-color-brand-lona: #FFDE5D;
  --lona-color-brand-css: #5115BC;
  --lona-color-brand-gona: #DDB62D;
  --lona-color-brand-adra: #EF761C;
  --lona-color-brand-pivofy: #3D1887;
  --lona-color-brand-cards: #D5FCD5;

  /* Border - Radius */
  --lona-border-radius-00: var(--lona-size-00);
  --lona-border-radius-02: var(--lona-size-02);
  --lona-border-radius-04: var(--lona-size-04);
  --lona-border-radius-06: var(--lona-size-06);
  --lona-border-radius-08: var(--lona-size-08);
  --lona-border-radius-10: var(--lona-size-10);
  --lona-border-radius-12: var(--lona-size-12);
  --lona-border-radius-14: var(--lona-size-14);
  --lona-border-radius-16: var(--lona-size-16);
  --lona-border-radius-18: var(--lona-size-18);
  --lona-border-radius-20: var(--lona-size-20);
  --lona-border-radius-24: var(--lona-size-24);
  --lona-border-radius-90: var(--lona-size-90);
  --lona-border-radius-99: var(--lona-size-99);

  /* Border - Width */
  --lona-border-width-00: var(--lona-size-00);
  --lona-border-width-01: var(--lona-size-01);
  --lona-border-width-02: var(--lona-size-02);

  /* Border - Style */
  --lona-border-style: solid;

  /* Font - Family */
  --lona-font-default: 
    var(--lona-font-inter), 
    -apple-system, 
    BlinkMacSystemFont, 
    Segoe UI, 
    Helvetica Neue,
    Arial, 
    sans-serif;

  /* Font - Size: Headings */
  --lona-font-size-h1: var(--lona-size-64);
  --lona-font-size-h2: var(--lona-size-44);
  --lona-font-size-h3: var(--lona-size-40);
  --lona-font-size-h4: var(--lona-size-32);

  /* Font - Size: Body */
  --lona-font-size-body-xl: var(--lona-size-20);
  --lona-font-size-body-l: var(--lona-size-18);
  --lona-font-size-body-m: var(--lona-size-16);
  --lona-font-size-body-s: var(--lona-size-12);
  --lona-font-size-body-xs: var(--lona-size-10);

  /* Motion - Transition */
  --lona-transition: all 420ms cubic-bezier(0.19, 1, 0.22, 1);

  /* Z-index */
  --lona-layer-00: 0;
  --lona-layer-01: 1;
  --lona-layer-02: 2;
  --lona-layer-03: 3;
  --lona-layer-04: 4;
  --lona-layer-99: var(--lona-size-99);

  /* Blur */
  --lona-blur-00: var(--lona-size-00);
  --lona-blur-20: var(--lona-size-20);
  --lona-blur-40: var(--lona-size-40);

  /* Breakpoints */
  --lona-device-desktop-lg: 2560px;
  --lona-device-desktop-md: 1440px;
  --lona-device-desktop-sm: 1024px;
  --lona-device-tablet: 768px;
  --lona-device-mobile: 425px;
}

[theme="light"] {
  --color-bg: #ffffff;
}
