body {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: black;
  color: white;
  margin: unset;
  padding: unset;

  h1 {
    font-size: 6vw;
    letter-spacing: -0.1ch;
    line-height: 1;
  }

  figure {
    max-width: 920px;
    img {
      display: flex;
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }
}
