header nav {
  display: flex;
  flex-direction: row;
  gap: 4ch;
  font-family: var(--font-manrope);

  a {
    transition: var(--slant-motion-transition);
    padding-inline: var(--slant-size-12);
    padding-block: var(--slant-size-08);

    &:first-child {
      font-family: var(--slant-font-silk);
    }

    @media (hover: hover) {
      &:hover,
      &.active {
        color: var(--slant-color-neutral-100);
      }
    }
  }
}
