.timer {
  display: flex;
  gap: 10ch;

  transition: all 420ms;

  @starting-style {
    opacity: 0;
    transform: translateY(10px);
  }

  .digital {
    display: flex;
    flex-direction: column;
    gap: 1lh;
    font-size: var(--slant-font-size-body-l);

    > div {
      display: flex;
      gap: 1ch;

      div,
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        &::before {
          content: "·";
        }
      }

      span {
        opacity: 0.1;
      }
    }
    /* 

    */
  }
}
/* 
.time-container {
  transition: opacity 0.3s ease;
}

.time-container.active {
  opacity: 0.5;
}

.time-container > * {
  animation: fade-in 0.3s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
