.plain {
  /* font-family: var(--font-manrope); */
  font-size: 8vh;
  user-select: none;
  pointer-events: none;
  transition: all 420ms;
  letter-spacing: 0.2ch;

  @starting-style {
    opacity: 0;
    transform: translateY(10px);
  }
}
